<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link <%= "#{params[:active_tab]=='incoming-requests' ? '' : 'active' }" %>" id="listings-tab" data-bs-toggle="tab" data-bs-target="#listings-tab-pane" type="button" role="tab" aria-controls="listings-tab-pane" aria-selected="true">My listings</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link <%= "#{params[:active_tab]=='incoming-requests' ? 'active' : '' }" %>" id="user-requests-tab" data-bs-toggle="tab" data-bs-target="#user-requests-tab-pane" type="button" role="tab" aria-controls="user-requests-tab-pane" aria-selected="false">Incoming requests</button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="<%= "#{params[:active_tab]=='incoming-requests' ? '' : 'active show' }" %> tab-pane fade show mt-3" id="listings-tab-pane" role="tabpanel" aria-labelledby="listings-tab" tabindex="0">
    <p>Active listings</p>
    <div class="container">
      <div class="row">
        <% @active_offers.each do |offer| %>
          <div class="col-md-3 mb-4">
            <%= link_to offer_path(offer) do %>
              <%= render "shared/plant_card", offer: offer %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <hr>
    <p>Past listings</p>
    <div class="container">
      <div class="row">
        <% @past_offers.each do |offer| %>
          <div class="col-md-3 mb-4">
            <%= link_to offer_path(offer) do %>
              <%= render "shared/plant_card", offer: offer %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="<%= "#{params[:active_tab]=='incoming-requests' ? 'active show' : '' }" %> tab-pane fade mt-3" id="user-requests-tab-pane" role="tabpanel" aria-labelledby="user-requests-tab" tabindex="0">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#pending-requests" aria-expanded="true" aria-controls="accepted-requests">
      Pending user requests
    </button>
    <div class="collapse show" id="pending-requests">
      <div class="card card-body">
        <div class="container">
          <div class="row">
            <% if @pending_requests == [] %>
              <div class="mb-4">
                <p>No pending requests.</p>
              </div>
            <% else %>
              <% @pending_requests.reverse_each do |request| %>
                <div class="mb-4">
                  <%= render "shared/request_card", offer: request.offer, request: request %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#accepted-requests" aria-expanded="<%= "#{params[:active_tab]=='incoming-requests' ? 'true' : 'false' }" %>" aria-controls="accepted-requests">
      Accepted user requests
    </button>
    <div class="collapse <%= "#{params[:active_tab]=='incoming-requests' ? 'show' : '' }" %>" id="accepted-requests">
      <div class="card card-body">
        <div class="container">
          <div class="row">
            <% @accepted_requests.reverse_each do |request| %>
              <div class="mb-4">
                <%= render "shared/request_card", offer: request.offer, request: request %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#rejected-requests" aria-expanded="false" aria-controls="rejected-requests">
      Rejected user requests
    </button>
    <div class="collapse" id="rejected-requests">
      <div class="card card-body">
        <div class="container">
          <div class="row">
            <% @rejected_requests.reverse_each do |request| %>
              <div class="mb-4">
                <%= render "shared/request_card", offer: request.offer, request: request %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
