<div class="footer">
  <div class="footer-container">
    <div class="footer-icons">
      <%= image_tag "plant_icon_1.png", alt: "plant" %>
      <%= image_tag "plant_icon_2.png", alt: "plant" %>
      <%= image_tag "plant_icon_3.png", alt: "plant" %>
      <%= image_tag "plant_icon_1.png", alt: "plant" %>
      <%= image_tag "plant_icon_2.png", alt: "plant" %>
      <%= image_tag "plant_icon_3.png", alt: "plant" %>
      <%= image_tag "plant_icon_1.png", alt: "plant" %>
      <%= image_tag "plant_icon_2.png", alt: "plant" %>
      <%= image_tag "plant_icon_3.png", alt: "plant" %>
      <%= image_tag "plant_icon_1.png", alt: "plant" %>
      <%= image_tag "plant_icon_2.png", alt: "plant" %>
      <%= image_tag "plant_icon_3.png", alt: "plant" %>
    </div>
  </div>
</div>
