<nav class="navbar fixed-top navbar-expand-lg bg-light">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      🌱 <strong>Plant</strong>lord
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "My subscriptions", subscriptions_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My listings", listings_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Create listing", new_offer_path, class: "nav-link" %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Create listing", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>

      <div class="d-flex search-and-avatar">

        <%= form_with url: offers_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query, params[:query], class: "form-control me-2", placeholder: "Type a keyword" %>
        <%= submit_tag "Search", name: "", class: "btn btn-flat-secondary" %>
        <% end %>

        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <%= cl_image_tag current_user.photo.key, class: "avatar-bordered dropdown-toggle", id: "navbarDropdown", data:{bs_toggle: "dropdown"}, aria_haspopup: "true", aria_expanded: "false" %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %>
              </div>
            </li>
            <% else %>
            <div class="d-flex justify-content-evenly">
              <%= link_to "Register", new_user_registration_path, class: "btn btn-secondary" %>
              <%= link_to "Log in", new_user_session_path, class: "ms-1 btn btn-secondary" %>

            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
