<div class="card plant-card">

  <%= link_to "", offer_path(offer), class: "card-link" %>
  <div style="background-image: url('<%= cl_image_path(offer.photo.key, height: 300, width: 300) %>');
  background-size: cover; height: 300px" >
    <div class='card-buttons'>
      <%= link_to "Edit", edit_offer_path(offer), class: "btn btn-flat-secondary-small" %>
      <%= link_to "Delete", offer_path(offer), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn-delete-small" %>
    </div>
  </div>
    <div class="card-body plant-card-body d-flex flex-column justify-content-between">
      <h5 class="card-title plant-card-title"><strong><%= offer.plant_name %></strong></h5>
      <p class="card-text plant-card-text"><%= offer.plant_description %></p>
      <h6 class="card-price plant-card-price">€<strong><%= offer.price %></strong></h6>
    </div>
    <div class="card-footer plant-card-footer">
      <div class="d-flex justify-content-between">
        <%= cl_image_tag offer.user.photo.key, class: "avatar-bordered", alt: "avatar-bordered", crop: :thumb, gravity: :face %>
        <%# <img src="https://icons.veryicon.com/png/o/miscellaneous/common-area-icons/default-avatar-1.png" class="avatar img-fluid" alt="User avatar" /> %>
        <h6><%= offer.user.username %></h6>
      </div>
    </div>
</div>
