<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="subscriptions-tab" data-bs-toggle="tab" data-bs-target="#subscriptions-tab-pane" type="button" role="tab" aria-controls="subscriptions-tab-pane" aria-selected="true">My subscriptions</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="my-requests-tab" data-bs-toggle="tab" data-bs-target="#my-requests-tab-pane" type="button" role="tab" aria-controls="my-requests-tab-pane" aria-selected="false">My requests</button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active mt-3" id="subscriptions-tab-pane" role="tabpanel" aria-labelledby="subscriptions-tab" tabindex="0">
    <p>Active subscriptions</p>
    <div class="container">
      <div class="row">
        <% @active_subscriptions.each do |subscription| %>
          <div class="col-md-3 mb-4">
            <%= link_to offer_path(subscription.offer_id) do %>
              <%= render "shared/plant_card", offer: Offer.where(id: subscription.offer_id)[0] %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <hr>
    <p>Past subscriptions</p>
    <div class="container">
      <div class="row">
        <% @past_subscriptions.each do |subscription| %>
          <div class="col-md-3 mb-4">
            <%= link_to offer_path(subscription.offer_id) do %>
              <%= render "shared/plant_card", offer: Offer.where(id: subscription.offer_id)[0] %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="tab-pane fade  mt-3" id="my-requests-tab-pane" role="tabpanel" aria-labelledby="my-requests-tab" tabindex="0">
    <p>Pending requests</p>
    <div class="container">
      <div class="row">
        <% @pending_subscriptions.each do |subscription| %>
          <div class="col-md-3 mb-4">
            <%= link_to offer_path(subscription.offer_id) do %>
              <%= render "shared/plant_card", offer: Offer.where(id: subscription.offer_id)[0] %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <hr>
    <button class="btn btn-flat-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAccepted" aria-expanded="false" aria-controls="collapseExample">
      Accepted requests
    </button>
    <div class="collapse" id="collapseAccepted">
      <div class="card card-body">
        [placeholder]
      </div>
    </div>
    <hr>
    <button class="btn btn-flat-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRejected" aria-expanded="false" aria-controls="collapseExample">
      Rejected requests
    </button>
    <div class="collapse" id="collapseRejected">
      <div class="card card-body">
        [placeholder]
      </div>
    </div>
  </div>
</div>
