
<div class="card-product">
  <%= cl_image_tag @offer.photo.key, height: 300, width: 300 %>
  <div class="card-product-infos">
    <h2><%= @offer.plant_name %></h2>
    <p><%= @offer.plant_description %></p>
    <p><%= @offer.price %> €</p>

    <div class="col">
      <%= link_to "Rent", "#", class: "btn btn-flat" %>
      <%= link_to "edit", edit_offer_path, class: "btn btn-flat-secondary" %>
      <% if user_signed_in? && current_user.id == @offer.user_id%>
        <%= link_to "Delete", offer_path(@offer), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
      <% end %>
    </div>

  </div>
</div>
