
<div class="card-product">
  <%= cl_image_tag @offer.photo.key, height: 300, width: 300 %>
  <div class="card-product-infos">
    <h2><%= @offer.plant_name %></h2>
    <p><%= @offer.plant_description %></p>
    <p><%= @offer.price %> €</p>

    <%= link_to "Rent this plant", new_booking_path(@offer), class: "btn btn-success" %>

  </div>

</div>
