<!DOCTYPE html>
<html>
  <head>
    <title>Plantlord</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('22328seedling_98726.png') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="body">
    <div class="page-container">
      <%= render "shared/flashes" %>
      <div class="navbar-container"><%= render "shared/navbar" %></div>
      <div class="content-container container mt-5">
        <div class="mt-3">
          <%= yield %>
        </div>
      </div>
      <div class="footer-container"><%= render "shared/footer" %></div>
    </div>
  </body>
</html>
